RewriteEngine On

# Statische Dateien direkt ausliefern
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^.*$ - [L]

# Alle anderen Anfragen an index.php weiterleiten
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ index.php [L,QSA]